@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

.sans{
    font-family: sans-serif;
}

.gloock{
    font-family: Gloock;
}

.txtd-none{
    text-decoration: none;
}

.txt-10{
    font-size: 10xp;
}

.txt-20{
    font-size: 20px;
}

.txt-30{
    font-size: 30px;
}

.txt-40{
    font-size: 40px;
}

.txt-50{
    font-size: 50px;
}

.txt-60{
    font-size: 60px;
}