.margin-10{
    margin: 10px;
}

.margin-20{
    margin: 20px
}

.margin-30{
    margin: 30px;
}

.margin-40{
    margin: 40px;
}

.marginl-10{
    margin-left: 10px;
}

.marginl-20{
    margin-left: 20px;
}

.marginl-30{
    margin-left: 30px;
}

.marginl-40{
    margin-left: 40px;
}

.marginr-10{
    margin-right: 10px;
}

.marginr-20{
    margin-right: 20px;
}

.marginr-30{
    margin-right: 30px;
}

.marginr-40{
    margin-right: 40px;
}

.margint-10{
    margin-top: 10px;
}

.margint-20{
    margin-top: 20px;
}

.margint-30{
    margin-top: 30px;
}

.margint-40{
    margin-top: 40px
}

.marginb-10{
    margin-bottom: 10px;
}

.marginb-20{
    margin-bottom: 20px;
}

.marginb-30{
    margin-bottom: 30px;
}

.marginb-40{
    margin-bottom: 40px;
}